<!-- LATEST POSTS -->
<section class="latest-posts section">
    <div class="container">
        <div class="section-head">
            <div class="section-heading">
                <h2 class="section-title blog-title">المستجدات و الإعلانات</h2>
                <p class="section-subtitle blog-subtitle">إيمانا من مكتبة بن دريس على نشر المعلومة و إبقاء زبنائها
                    الكرام على إطلاع دائم بجديد الإعلانات عن الوظائف و المباريات إلا جانب الإعلان على جديد الخدمات التي
                    تقدمها المكتبة </p>
            </div>
            <!-- / END SECTION-HEADING -->
            <div class="blog-link">
                <a href="#" class="button is-rounded">
                    <span>تصفح الكل</span>
                    <span class="icon">
                        <i class="fas fa-long-arrow-alt-left"></i>
                    </span>
                    <!-- / END ICON -->
                </a>
                <!-- / END BUTTON -->
            </div>
            <!-- / END BLOG-LINK -->
        </div>
        <!-- / END SECTION-HEAD -->
        <div class="posts-items">
            <div class="columns">
                <div class="column is-4">
                    <div class="post-item card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./img/post-item-1.png" alt="post">
                            </figure>
                        </div>
                        <!-- / END CARD-IMAGE -->
                        <div class="card-content">
                            <a class="post-category offers-category" href="#">
                                <span class="circle"></span>
                                <span>مباريات توظيف</span>
                            </a>
                            <!-- POST CATEGORY -->
                            <h4 class="post-title"><a href="#"> مديرية الأمن الوطني تعلن عن مباراة توظيف حراس الامن</a></h4>
                            <div class="post-foot">
                                <div class="comments-counter">
                                    <span class="lnr lnr-bubble"></span>
                                    <span>تعليق واحد</span>
                                </div>
                                <div class="read-me">
                                    <a href="#">
                                        <span>تفاصيل أكثر</span>
                                        <span class="lnr lnr-arrow-left"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- / END CARD-CONTENT -->
                    </div>
                    <!-- / END POST-ITEM -->
                </div>
                <!-- / END COLUMN -->
                <div class="column is-4">
                    <div class="post-item card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./img/post-item-2.png" alt="post">
                            </figure>
                        </div>
                        <!-- / END CARD-IMAGE -->
                        <div class="card-content">
                            <a class="post-category services-category" href="#">
                                <span class="circle"></span>
                                <span>خدمات المكتبة</span>
                            </a>
                            <!-- POST CATEGORY -->
                            <h4 class="post-title"><a href="#"> تقديم خدمة طلب تحديد المواعيد الطبية </a> </h4>
                            <div class="post-foot">
                                <div class="comments-counter">
                                    <span class="lnr lnr-bubble"></span>
                                    <span>تعليق واحد</span>
                                </div>
                                <div class="read-me">
                                    <a href="#">
                                        <span>تفاصيل أكثر</span>
                                        <span class="lnr lnr-arrow-left"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- / END CARD-CONTENT -->
                    </div>
                    <!-- / END POST-ITEM -->
                </div>
                <!-- / END COLUMN -->
                <div class="column is-4">
                    <div class="post-item card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./img/post-item-3.png" alt="post">
                            </figure>
                        </div>
                        <!-- / END CARD-IMAGE -->
                        <div class="card-content">
                            <a class="post-category offers-category" href="#">
                                <span class="circle"></span>
                                <span>مباريات توظيف</span>
                            </a>
                            <!-- POST CATEGORY -->
                            <h4 class="post-title"><a href="#"> وزارة التربية الوطنية والتعليم تعلن  عن مبارة توظيف الأساتذة </a></h4>
                            <div class="post-foot">
                                <div class="comments-counter">
                                    <span class="lnr lnr-bubble"></span>
                                    <span>تعليق واحد</span>
                                </div>
                                <div class="read-me">
                                    <a href="#">
                                        <span>تفاصيل أكثر</span>
                                        <span class="lnr lnr-arrow-left"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- / END CARD-CONTENT -->
                    </div>
                    <!-- / END POST-ITEM -->
                </div>
                <!-- / END COLUMN -->
            </div>
            <!-- / END COLUMNS -->
        </div>
        <!-- / END POST ITEMS -->
    </div>
    <!-- / END CONTAINER -->
</section>
<!-- / END LATEST POST -->