<!-- STORE CATEGORIES  -->
<section class="section store-categories">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="category-item computer-category">
                    <h4 class="category-title title has-text-centered">لوازم الهاتف</h4>
                    <div class="category-link has-text-centered">
                        <a href="#">
                            <span class="fas fa-long-arrow-alt-right"></span>
                            <span>عرض المنتجات</span>
                        </a>
                    </div>
                    <figure class="image category-image">
                        <img src="./img/phone-items.png" alt="computer items">
                    </figure>
                </div>
                <!-- / END CATEGORY ITEM -->
            </div>
            <!-- / END COLUMN -->
            <div class="column is-3">
                <div class="category-item computer-category">
                    <h4 class="category-title title has-text-centered">لوازم الحاسوب</h4>
                    <div class="category-link has-text-centered">
                        <a href="#">
                            <span class="fas fa-long-arrow-alt-right"></span>
                            <span>عرض المنتجات</span>
                        </a>
                    </div>
                    <figure class="image category-image">
                        <img src="./img/computer-items.png" alt="computer items">
                    </figure>
                </div>
                <!-- / END CATEGORY ITEM -->
            </div>
            <!-- / END COLUMN -->
            <div class="column is-4">
                <div class="categorie-item computer-category">

                </div>
                <!-- / END CATEGORY ITEM -->
            </div>
            <!-- / END COLUMN -->
        </div>
        <!-- / END COLUMNS -->
    </div>
    <!-- / END CONTAINER -->
</section>
<!-- / END STORE CATEGORIES -->