<!-- STORE CATEGORIES  -->
<section class="section store-categories">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <div class="category-item school-category">
                    <div class="is-flex">
                        <div class="category-name">
                            <h4 class="category-title title has-text-centered has-text-left">الكتب و اللوازم المدرسية</h4>
                            <h5 class="category-subtitle has-text-left">تخفيضات و عروض قوية اكتشفوها ألان</h5>
                        </div>
                        <!-- / END CATEGORY NAME -->
                        <div class="category-link has-text-left">
                            <a href="#">
                                <span class="fas fa-long-arrow-alt-right"></span>
                                <span>عرض المنتجات</span>
                            </a>
                        </div>
                        <!-- / END  CATEGORY LINK-->
                    </div>
                    <!-- / END IS-FLEX -->
                    <div class="category-image school-category-image">
                        <img src="./img/school-items.png" alt="school items">
                    </div>
                </div>
                <!-- / END CATEGORY ITEM -->
            </div>
            <!-- / END COLUMN -->
            <div class="column is-3">
                <div class="category-item computer-category">
                    <h4 class="category-title title has-text-centered">لوازم الهاتف</h4>
                    <div class="category-link has-text-centered">
                        <a href="#">
                            <span class="fas fa-long-arrow-alt-right"></span>
                            <span>عرض المنتجات</span>
                        </a>
                    </div>
                    <figure class="image category-image">
                        <img src="./img/phone-items.png" alt="computer items">
                    </figure>
                </div>
                <!-- / END CATEGORY ITEM -->
            </div>
            <!-- / END COLUMN -->
            <div class="column is-3">
                <div class="category-item computer-category">
                    <h4 class="category-title title has-text-centered">لوازم الحاسوب</h4>
                    <div class="category-link has-text-centered">
                        <a href="#">
                            <span class="fas fa-long-arrow-alt-right"></span>
                            <span>عرض المنتجات</span>
                        </a>
                    </div>
                    <figure class="image category-image">
                        <img src="./img/computer-items.png" alt="computer items">
                    </figure>
                </div>
                <!-- / END CATEGORY ITEM -->
            </div>
            <!-- / END COLUMN -->
            
        </div>
        <!-- / END COLUMNS -->
    </div>
    <!-- / END CONTAINER -->
</section>
<!-- / END STORE CATEGORIES -->