        <!-- FOOTER -->
        <footer class="bendriss-footer">
            <div class="main-footer section">
                <div class="container">
                    <div class="columns">
                        <div class="column is-5">
                            <div class="bendriss-info">
                                <div class="is-flex">
                                    <figure class="image">
                                        <img src="./img/Logo.png" alt="Ben Driss Library">
                                    </figure>
                                    <h5>مكتبة بن دريس الشويطر</h5>
                                </div>
                                <div class="about-descrip">
                                    <p>
                                        هي مكتبة تم إفتتاحها سنة 2016 في مدينة الشويطر تبعد عن مراكش بـ 14 كلم عبر الطريق الوطنية رقم 9 تقدم المكتبة مجموعة نت الخدمات المميزة على رأسها بيع الكتب و اللوازم المدرسية كما تسعى المكتبة دائما لإرضاء زبنائها الكرام عبر تقديم منتوجات و خدمات ذات جودة عالية
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- / END COLUMN -->
                        <div class="column is-4">
                            <div class="menu contact-menu">
                              <p class="menu-label">
                                للتواصل معنــا
                              </p>
                              <ul class="menu-list">
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <i class="fas fa-map"></i>
                                        </span>
                                        <span>متواجدون على خرائط غوغل</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <i class="fab fa-whatsapp"></i>
                                        </span>
                                        <span>06 03 42 42 67</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <i class="fab fa-facebook"></i>
                                        </span>
                                        <span>صفحتنا على الفايسبوك</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <i class="fas fa-envelope-open"></i>
                                        </span>
                                        <span>CONTACT@LIBRARIE-BENDRISS.COM</span>
                                    </a>
                                </li>
                              </ul>
                            </div>
                        </div>
                        <!--  / END COLUMN -->
                        <div class="column is-3">
                            <div class="menu quick-links">
                              <p class="menu-label">
                                الروابط المختصرة 
                              </p>
                              <ul class="menu-list">
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <i class="fas fa-long-arrow-alt-left"></i>
                                        </span>
                                        <span>الكتب و اللوازم المدرسية</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <i class="fas fa-long-arrow-alt-left"></i>
                                        </span>
                                        <span>أقوى التخفيضات</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <i class="fas fa-long-arrow-alt-left"></i>
                                        </span>
                                        <span>جديد المباريات</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <i class="fas fa-long-arrow-alt-left"></i>
                                        </span>
                                        <span>سياسة الخصوصية </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <i class="fas fa-long-arrow-alt-left"></i>
                                        </span>
                                        <span>خريطة الموقع </span>
                                    </a>
                                </li>
                              </ul>
                            </div>
                        </div>
                        <!-- / END COLUMN -->
                    </div>
                    <!-- / END COLUMNS -->
                </div>
                <!-- / END CONTAINER -->
            </div>
            <!-- / END MAIN FOOTER -->
            <div class="copyrights has-text-centered">
                <div class="container">
                    <a href="#">
                        <p>صمم بكل <i class="fas fa-heart"></i> من طرف الجوادي للخدمات الإلكترونية </p>
                    </a>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->
        <script src="./js/script.js" defer></script>
    </body>

</html>