<!-- HOME SECTION -->
<section class="home section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-7">
                <div class="home-content">
                    <h1 class="title home-title">كل مــا يلزمكم للتفوق المدرســي</h1>
                    <p class="home-description">توفر لكم مكتبة بن دريس مجموعة من اللوازم المدرسية ذات الجودة العالية و العلامات العالمية بأسعار جد مناسبة لا تترددوا في تجهيز طلبيتكم الان</p>
                    <a class="bendriss-btn button is-rounded" href="#">
                        <span class="icon">
                            <i class="fas fa-graduation-cap"></i>
                        </span>
                        <span>اللوازم المدرسية</span>
                    </a>
                </div>
            </div>
            <div class="column is-5">
                <figure class="home-image image has-text-centered">
                    <span class="ellipse"></span>
                    <img src="./img/students.png" alt="students">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- END HOME SECTION -->