<!--  SCHOOL MARKS -->
<section class="section marks">
    <div class="container">
        <h2 class="marks-title has-text-centered">متوفر لدينــا أزيد من 500 منتج لماركات عالمية</h2>
        <div class="columns is-multiline">
            <div class="column is-2">
                <figure class="image mark-image">
                    <img src="./img/logo-1.png" alt="logo">
                </figure>
                <!-- END FIGURE -->
            </div>
            <!-- / END COLUMN  -->
            <div class="column is-2">
                <figure class="image mark-image">
                    <img src="./img/logo-2.png" alt="logo">
                </figure>
                <!-- END FIGURE -->
            </div>
            <!-- / END COLUMN  -->
            <div class="column is-2">
                <figure class="image mark-image">
                    <img src="./img/logo-3.png" alt="logo">
                </figure>
                <!-- END FIGURE -->
            </div>
            <!-- / END COLUMN  -->
            <div class="column is-2">
                <figure class="image mark-image">
                    <img src="./img/logo-4.png" alt="logo">
                </figure>
                <!-- END FIGURE -->
            </div>
            <!-- / END COLUMN  -->
            <div class="column is-2">
                <figure class="image mark-image">
                    <img src="./img/logo-5.png" alt="logo">
                </figure>
                <!-- END FIGURE -->
            </div>
            <!-- / END COLUMN  -->
            <div class="column is-2">
                <figure class="image mark-image">
                    <img src="./img/logo-6.png" alt="logo" >
                </figure>
                <!-- END FIGURE -->
            </div>
            <!-- / END COLUMN  -->
        </div>
        <!-- / END COLUMNS -->
    </div>
    <!-- / END CONTAINER -->
</section>
<!-- / END SCHOOL MARKS -->