<!-- NAVBAR -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="./index.html">
                <img class="logo" src="./img/Logo.png" />
            </a>
            <!-- / END NAVBAR ITEM -->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="bendriss-menu-links">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <!-- END NAVBAR BURGUR -->
        </div>
        <!-- / END NAVBAR BRAN -->
        <div id="bendriss-menu-links" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item"> الرئيسية </a>
                <a class="navbar-item"> من نحن </a>
                <a class="navbar-item"> جديد العروض </a>
                <a class="navbar-item"> خدماتنا </a>
                <a class="navbar-item"> المتجر </a>
                <a class="navbar-item"> إعلانات </a>
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button">
                            <span class="lnr lnr-magnifier"></span>
                        </a>
                        <a class="button">
                            <span class="lnr lnr-cart"></span>
                        </a>
                    </div>
                    <!-- / END BUTTONS -->
                </div>
                <!-- / END NAVBAR ITEM -->
            </div>
            <!-- / END NAVBAR END -->
        </div>
        <!-- / END NAVBAR MENU -->
    </div>
    <!-- / END CONTAINER -->
</nav>
<!-- / END NAVBAR -->