<!-- NEWSLETTER -->
<section class="newsletter section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-5 is-offset-1">
                <figure class="image">
                    <img src="./img/student-sharpes.png" alt="student">
                </figure>
            </div>
            <div class="column is-6 ">
                <div class="newsletter-content">
                    <h2 class="section-title newsletter-title">لكي تبقوا على إطلاع بكل جديد</h2>
                    <p class="newsletter-p">لتبقوا على إطلاع دائم بجديد العروض و  مباريات  التي تهم مساركم الدراسي و المهني</p>
                    <form id="newsletter-form" action="#" method="post">
                        <div class="field  has-addons">
                            <div class="control">
                                <input class="input" type="email" name="name" placeholder="المرجو إدخال بريدك الإلكتروني" required>
                            </div>
                            <!-- CONTROLE -->
                            <div class="control">
                                <input class="button submit-btn" type="submit"  value="إشتراك">
                            </div>
                            <!-- / END CONTROL -->
                           
                        </div>
                        <!-- / END FIELD -->
                    </form>
                    <!-- / END NEWSLETTER-FORM -->
                </div>
                <!-- / END NEWSLETTER-CONTENT -->
            </div>
            <!-- / END COLUMN -->
        </div>
        <!-- / END COLUMNS -->
    </div>
    <!-- / END CONTAINER -->
</section>
<!-- / END NEWSLETTER -->