<!-- SERVICES SECTION -->
<section class="section services">
    <div class="container">
        <h2 class="section-title services-title has-text-centered">خدمات المكتبة</h2>
        <p class="section-subtitle service-subtitle has-text-centered">توفر مكتبة بن دريس الشويطر  باقة من الخدمات المتنوعة لتلبية طلبات زبنائها الكرام</p>
        <div class="columns is-multiline">
            <div class="column is-3">
                <div class="service-item">
                    <figure class="image service-image">
                        <img src="./img/service-1.png" alt="Service Item">
                    </figure>
                    <h4 class="service-name has-text-centered">بيع اللوازم المدرسية</h4>
                </div>
                <!-- SERVICE ITEM -->
            </div>
            <!-- END COLUMN -->
            <div class="column is-3">
                <div class="service-item">
                    <figure class="image service-image">
                        <img src="./img/service-2.png" alt="Service Item">
                    </figure>
                    <h4 class="service-name has-text-centered">البحوث المدرسية</h4>
                </div>
                <!-- SERVICE ITEM -->
            </div>
            <!-- END COLUMN -->
            <div class="column is-3">
                <div class="service-item">
                    <figure class="image service-image">
                        <img src="./img/service-3.png" alt="Service Item">
                    </figure>
                    <h4 class="service-name has-text-centered">فضاء الإنترنت</h4>
                </div>
                <!-- SERVICE ITEM -->
            </div>
            <!-- END COLUMN -->
            <div class="column is-3">
                <div class="service-item">
                    <figure class="image service-image">
                        <img src="./img/service-4.png" alt="Service Item">
                    </figure>
                    <h4 class="service-name has-text-centered">فوطوكوبي</h4>
                </div>
                <!-- SERVICE ITEM -->
            </div>
            <!-- END COLUMN -->
            <div class="column is-3">
                <div class="service-item">
                    <figure class="image service-image">
                        <img src="./img/service-5.png" alt="Service Item">
                    </figure>
                    <h4 class="service-name has-text-centered">إكسسوارات إلكترونية</h4>
                </div>
                <!-- SERVICE ITEM -->
            </div>
            <!-- END COLUMN -->
            <div class="column is-3">
                <div class="service-item">
                    <figure class="image service-image">
                        <img src="./img/service-6.png" alt="Service Item">
                    </figure>
                    <h4 class="service-name has-text-centered">لوازم الحاسوب</h4>
                </div>
                <!-- SERVICE ITEM -->
            </div>
            <!-- END COLUMN -->
            <div class="column is-3">
                <div class="service-item">
                    <figure class="image service-image">
                        <img src="./img/service-7.png" alt="Service Item">
                    </figure>
                    <h4 class="service-name has-text-centered">لوازم الهاتف</h4>
                </div>
                <!-- SERVICE ITEM -->
            </div>
            <!-- END COLUMN -->
            <div class="column is-3">
                <div class="service-item">
                    <figure class="image service-image">
                        <img src="./img/service-8.png" alt="Service Item">
                    </figure>
                    <h4 class="service-name has-text-centered">طباعة بالألوان</h4>
                </div>
                <!-- SERVICE ITEM -->
            </div>
            <!-- END COLUMN -->
        </div>
        <!-- / END COLUMNS -->
    </div>
    <!-- / END CONTAINER -->
</section>
<!-- / END SERVICES SECTION -->