<!-- TESTIMONIALS -->
<section class="testimonials">
    <div class="container">
        <div class="testimoials-container">
            <div class="reviewers-images">
                <div class="current-reviewer">
                    <figure class="image">
                        <img src="./img/person-1.png" alt="person-1">
                    </figure>
                    <!-- / END IMAGE -->
                </div>
                <div class="other-reviewers">
                    <figure class="image person-2">
                        <img src="./img/person-2.png" alt="person-2">
                    </figure>
                    <!-- / END IMAGE -->
                    <figure class="image person-3">
                        <img src="./img/person-3.png" alt="person-3">
                    </figure>
                    <!-- / END IMAGE -->
                    <figure class="image person-4">
                        <img src="./img/person-4.png" alt="person-4">
                    </figure>
                    <!-- / END IMAGE -->
                </div>
                <!-- / END OTHER-REVIEWERS -->
            </div>
            <!-- / END REVIEWERS IMAGES -->
            <div class="review-item">
                <p class="has-text-centered"> هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص
                    من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد
                    الحروف التى يولدها هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،
                    من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد

                </p>
            </div>
            <div class="reviwes-icon">
                <span class="icon">
                    <i class="fas fa-quote-right"></i>
                </span>
            </div>
            <!-- / REVIEW-ITEM -->
        </div>
        <!-- / END TESTIMONIALS-CONTAINER -->
        <h2 class="section-title testimonials-title has-text-centered">شهادات نعتز بها من زبنائنا الكرام </h2>
    </div>
    <!-- / END CONTAINEER -->
</section>
<!-- / END TESTIMONIALS -->