.blog {
  .blog-banner {
    min-height: 40vh;
    background: url('../img/blog-banner.png') no-repeat top center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    .is-overlay {
      background-color: rgba(204, 245, 255, 0.85);
      top: 0;
      left: 0;
    }

    .blog-content {
      .title {
        color: $primaryColor;
        font-size: 1.75rem;
      }
      p {
        max-width: 60%;
        color: #4c4a4a;
        font-size: 1.15rem;
      }
    }
  }

  .posts-items {
    padding: 50px 0 40px;
    background-color: #fafafa;
    margin-top: 0;

    .pagination {
      margin-top: 25px;

      .pagination-link {
        background-color: #f1f9fb;
        color: $primaryColor;
        border-color: $primaryColor;
      }

      .pagination-link.is-current {
        background-color: $primaryColor;
        color: $whiteColor;
      }

      .pagination-previous,
      .pagination-next {
        background-color: #f1f9fb;
        color: $primaryColor;
        border-color: $primaryColor;
      }
    }
  }
}
