.bendriss-btn {
  background-color: $primaryColor;
  color: $whiteColor;
  font-weight: $fontWightMedium;
  font-family: $mainFont;

  &:hover {
    color: $whiteColor;
  }
}

input::placeholder,
button,
input {
  font-family: $mainFont;
}

h2.section-title {
  color: $primaryColor;
  font-size: 1.4rem;
  font-weight: bold;
  .section-subtitle {
    color: $greyColor;
    font-size: 1.1rem;
  }
}
