html {
  background-color: $backgroundColor;
  font-size: $mainFontSize;
  body {
    color: $fontColor;
    font-weight: $fontWightLight;
    line-height: $lineHeight;
    font-family: $mainFont;

    // ANNOUNCEMENT BAR
    .announcement-bar {
      background-color: $secondryColor;
      color: $whiteColor;
      padding: 15px;

      .announcement-icon {
        margin-left: 15px;
      }
    }
  }
}
