// SETTINGS
$mainFont: 'Cairo', sans-serif;
$backgroundColor: #ffffff;
$fontColor: #636469;
$fontWightBold: 700;
$fontWightMedium: 500;
$fontWightLight: 300;
$lineHeight: 1.8;
$mainFontSize: 16px;

// COLORS
$primaryColor: #5262ad;
$secondryColor: #d5247b;
$skyColor: #f1f9fb;
$whiteColor: #ffffff;
$greyColor: #636469;
